---
import Layout from "../layouts/index.astro";
import coins from "../data/coins.json";

export async function getStaticPaths() {
  return {
    props: { coins },
  };
}
---

<Layout>
  <ul class="flex flex-row gap-2">
    {
      coins.map((coin) => (
        <li>
          <a href={`/coins/${coin.id}`}>
            <img
              class="w-52 h-52 object-cover rounded-lg border"
              src={coin.images.front}
            />
          </a>
        </li>
      ))
    }
  </ul>
</Layout>
