---
const { title } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <header>
      <div class="container flex justify-between flex-row m-auto">
        <h1 class="text-4xl">
          <a href="/coin-collection/">Monedas</a>
        </h1>
      </div>
    </header>
    <main class="container m-auto">
      <article>
        <slot slot="main" />
      </article>
    </main>
  </body>
</html>
