---
const { title } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <header class="flex justify-between flex-row">
      <h1 class="text-4xl">
        <a href="/coin-collection/">Monedas</a>
      </h1>
      <nav>
        <a href="/coin-collection/coins/1">Moneda 1</a>
        <a href="/coin-collection/coins/2">Moneda 2</a>
        <a href="/coin-collection/coins/3">Moneda 3</a>
      </nav>
    </header>
    <h1>{title}</h1>
    <article>
      <slot />
    </article>
  </body>
</html>
